.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*3 columnas que ocupan una 
    fraccion del espacio restante*/
    grid-template-rows: repeat(2, 100px); /*2 filas que ocupan
    100 pixeles*/
    gap: 30px; /*Espacio entre filas y columnas*/
    justify-content: center; /*Alinea la grid dentro del contenedor
    horizontalmente*/
    align-items: center; /*Alinea los elementos dentro de 
    sus celdas verticalmente.*/
  }
  
  .item {
    background-color: lightblue;
    text-align: center;
    padding: 40px;
  }
  |